.tab-view {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: auto;

    .tab {
        overflow: auto;
    }

    .table-status-button {
        background-color: var(--mantine-color-gray-2);
        color: var(--mantine-color-gray-6);
        font-size: 14px;
    }
}

.tab-panel-wrapper {
    width: 100%;

    .tab-panel {
        display: flex;
        max-height: 60vh;
        overflow: auto;

        .scroll-area {
            display: flex;
            flex-grow: 1;
        }
    }
}