.tab-view {
    display: flex;
    gap: 1rem;

    .table-view-properties {
        border-radius: 5px;
        background-color: var(--mantine-color-gray-2);
    }

    .table-status-button {
        font-size: 14px;
        background-color: var(--mantine-color-gray-2);
        color: var(--mantine-color-gray-6);
    }
}

.column-header {
    font-size: var(--mantine-font-size-sm);
    color: var(--mantine-color-dark-9);
    font-weight: 700;
    width: max-content;
}

.table-container {
    display: flex;
    flex-grow: 1;
    overflow: auto;
    max-height: 60vh;

    .scroll-area {
        display: flex;
        flex-grow: 1;
    }
}