.workspace-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;

    .workspace {
        display: flex;
        position: relative;
        flex-grow: 1;
        flex-wrap: wrap;
        gap: var(--mantine-spacing-xl);
        align-content: flex-start;
        padding: var(--mantine-spacing-xl);
    }
}

.rename-input {
    width: 9rem;

    .rename-submit-refresh{
        display: flex;
        gap: var(--mantine-spacing-xs);
        font-size: var(--mantine-font-size-md);
        
        .rename-submit {
            color: var(--mantine-color-green-5);
        }
    }
}
