.workspace-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;

    .workspace {
        display: flex;
        position: relative;
        flex-grow: 1;
        flex-wrap: wrap;
        gap: var(--mantine-spacing-xl);
        align-content: flex-start;
        padding: var(--mantine-spacing-xl);


        .workspace-item {
            display: flex;
            border: 1px solid transparent;
        }

        .active {
            border: 1px solid var(--mantine-color-brand-5);
        }
    }
}

.rename-input {
    display: flex;

    .right-section {
        position: unset;
    }

    :global {
        .mantine-TextInput-wrapper {
            display: flex;
        }

        .mantine-TextInput-rightSection{
            position: unset;
        }
    }

    .rename-submit-refresh{
        display: flex;
        gap: var(--mantine-spacing-xs);
        font-size: var(--mantine-font-size-md);
        .rename-submit {
            color: var(--mantine-color-green-5);
        }
    }
}
