.import {
    display: flex;
    flex-direction: column;
    padding: 0 var(--mantine-spacing-md);

    .heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: var(--mantine-spacing-sm);
        padding-bottom: var(--mantine-spacing-sm);
    }

    .collapse {
        display: flex;
        flex-direction: column;

        .content {
            display: flex;
            flex-grow: 1;
            gap: var(--mantine-spacing-sm);

            .table-container {
                display: flex;
                flex-grow: 1;
                max-height: 50vh;
                overflow: auto;

                .alert {
                    display: flex;
                    align-items: center;
                }
            }
        }

        .import-actions {
            display: flex;
            padding: var(--mantine-spacing-sm) 0;
        }
    }
}
