.column-header {
    width: max-content;
    color: var(--mantine-color-dark-9);
    font-size: var(--mantine-font-size-sm);
    font-weight: 700;
}

.menu-Item{
    display: flex;
    gap: var(--mantine-spacing-sm);
}

.active {
    background-color: var(--mantine-color-indigo-1);
}

.selected-menu {
    background-color: var(--mantine-color-brand-5);
}

.type-cell {
    text-transform: capitalize;
}
