.join-modal-form{
    background-color: var(--mantine-color-gray-1);
    padding: var(--mantine-spacing-md) var(--mantine-spacing-sm);

    .icon {
        color: var(--mantine-color-gray-5);
    }

    .join-text {
        display: flex;
        align-self: end;
        padding: 5px 0px;
    }
}
