.join-modal {
    display: flex;
    overflow: auto;

    .body {
        word-break: unset;

        .form-container {
            display: flex;
            flex-grow: 1;

            .join-modal-form {
                display: flex;
                flex-basis: 30%;
                background-color: var(--mantine-color-gray-1);
                padding: var(--mantine-spacing-md) var(--mantine-spacing-sm);

                .icon {
                    color: var(--mantine-color-gray-5);
                }
            }

            .join-modal-table {
                display: flex;
                max-height: 60vh;
                overflow: auto;

                .text {
                    display: flex;
                    flex-grow: 1;
                }
            }
        }
    }
}
