.data-page {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    overflow: auto;

    .nav-link {
        word-break: break-word;
    }

    .loader {
        align-self: center;
    }
}
