.data-page {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;

    .drop-zone {
        display: flex;
        flex-direction: column;
        gap: var(--mantine-spacing-md);
        align-items: center;
        border-radius: var(--mantine-radius-md);
        padding: var(--mantine-spacing-md);
        max-width: 250px;
    }

    .mantine-Modal-body {
        .grid-modal {
            .grid-column {
                display: flex;
                flex-direction: column;
            }
        }
    }
}